USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[CalculateMovingAverages]    Script Date: 2025/4/5 下午 02:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[CalculateMovingAverages]
    @StockCode VARCHAR(10)  -- 股票代碼參數
AS
BEGIN
    -- 計算 MA5 (5日線)
    UPDATE StockTrading_TA
    SET MA5 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM StockTrading_TA t2
        WHERE t2.[date] <= StockTrading_TA.[date]
        AND t2.[date] >= DATEADD(DAY, -5, StockTrading_TA.[date])
        AND t2.StockCode = StockTrading_TA.StockCode
    )
    WHERE StockCode = @StockCode

    -- 計算 MA10 (10日線)
    UPDATE StockTrading_TA
    SET MA10 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM StockTrading_TA t2
        WHERE t2.[date] <= StockTrading_TA.[date]
        AND t2.[date] >= DATEADD(DAY, -10, StockTrading_TA.[date])
        AND t2.StockCode = StockTrading_TA.StockCode
    )
    WHERE StockCode = @StockCode

    -- 計算 MA20 (20日線)
    UPDATE StockTrading_TA
    SET MA20 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM StockTrading_TA t2
        WHERE t2.[date] <= StockTrading_TA.[date]
        AND t2.[date] >= DATEADD(DAY, -20, StockTrading_TA.[date])
        AND t2.StockCode = StockTrading_TA.StockCode
    )
    WHERE StockCode = @StockCode

    -- 計算 MA60 (60日線)
    UPDATE StockTrading_TA
    SET MA60 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM StockTrading_TA t2
        WHERE t2.[date] <= StockTrading_TA.[date]
        AND t2.[date] >= DATEADD(DAY, -60, StockTrading_TA.[date])
        AND t2.StockCode = StockTrading_TA.StockCode
    )
    WHERE StockCode = @StockCode
END