USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[CalculateAllMAs]    Script Date: 2025/4/5 下午 02:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[CalculateAllMAs]
AS
BEGIN
    -- 計算 MA5 (5日線，根據累積天數或前5天)
    UPDATE StockTrading_TA
    SET MA5 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 5 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

    -- 計算 MA10 (10日線，根據累積天數或前10天)
    UPDATE StockTrading_TA
    SET MA10 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 10 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

    -- 計算 MA20 (20日線，根據累積天數或前20天)
    UPDATE StockTrading_TA
    SET MA20 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 20 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

    -- 計算 MA60 (60日線，根據累積天數或前60天)
    UPDATE StockTrading_TA
    SET MA60 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 60 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

	-- 計算 MA120 (120日線，根據累積天數或前60天)
    UPDATE StockTrading_TA
    SET MA120 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 120 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

	-- 計算 MA240 (240日線，根據累積天數或前60天)
    UPDATE StockTrading_TA
    SET MA240 = (
        SELECT AVG(CAST([Close] AS DECIMAL(10, 2)))
        FROM (
            SELECT TOP 240 [Close]
            FROM StockTrading_TA t2
            WHERE t2.[date] <= StockTrading_TA.[date]
            AND t2.StockCode = StockTrading_TA.StockCode
            ORDER BY t2.[date] DESC
        ) AS t2
    )

END