USE [NCU_database]
GO
/****** Object:  UserDefinedFunction [dbo].[candlestick_up_down_all]    Script Date: 2025/4/5 下午 02:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE FUNCTION [dbo].[candlestick_up_down_all] 
(
    @StockCode varchar(20)
)
RETURNS @Result TABLE 
(
    StockCode varchar(20),
	[Open] decimal(18,4),
    [Close] decimal(18,4),
    [High] decimal(18,4),
    [Low] decimal(18,4),
    [date] date,
    up_down int
)
AS
BEGIN
    -- 宣告臨時表儲存所有日期的價格資訊
    DECLARE @PriceData TABLE (
        [date] date,
        [Open] decimal(18,4),
        [Close] decimal(18,4),
        [High] decimal(18,4),
        [Low] decimal(18,4)
    )

    -- 將該股票的所有交易資料插入臨時表
    INSERT INTO @PriceData ([date], [Open], [Close], [High], [Low])
    SELECT [date], [Open], [Close], [High], [Low]
    FROM StockTrading_TA
    WHERE StockCode = @StockCode
    ORDER BY [date]

    -- 使用游標遍歷每一天的資料
    DECLARE @TodayDate date
    DECLARE @TodayOpen decimal(18,4), @TodayClose decimal(18,4),
            @TodayHigh decimal(18,4), @TodayLow decimal(18,4)
    DECLARE @PrevOpen decimal(18,4), @PrevClose decimal(18,4),
            @PrevHigh decimal(18,4), @PrevLow decimal(18,4)
    DECLARE @up_down int

    DECLARE price_cursor CURSOR FOR 
    SELECT [date], [Open], [Close], [High], [Low]
    FROM @PriceData
    ORDER BY [date]

    OPEN price_cursor
    FETCH NEXT FROM price_cursor INTO @TodayDate, @TodayOpen, @TodayClose, @TodayHigh, @TodayLow

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- 取得前一個交易日的價格資訊
        SELECT 
            @PrevOpen = [Open],
            @PrevClose = [Close],
            @PrevHigh = [High],
            @PrevLow = [Low]
        FROM @PriceData
        WHERE [date] = (
            SELECT MAX([date])
            FROM @PriceData
            WHERE [date] < @TodayDate
        )
        
        -- 判斷漲跌狀態
        IF @TodayClose IS NULL OR @PrevClose IS NULL
        BEGIN
            SET @up_down = 99  -- 如果當天或前一天資料不存在
        END
        ELSE
        BEGIN
            -- 檢查跳空上漲/下跌
            IF (@TodayLow > @PrevHigh)
            BEGIN
                SET @up_down = 3  -- 跳空上漲
            END
            ELSE IF (@TodayHigh < @PrevLow)
            BEGIN
                SET @up_down = -3  -- 跳空下跌
            END
            -- 檢查完全上漲/下跌
            ELSE IF (@TodayHigh > @PrevHigh AND 
                    @TodayLow > @PrevLow AND 
                    @TodayOpen > @PrevOpen AND 
                    @TodayClose > @PrevClose)
            BEGIN
                SET @up_down = 2  -- 完全上漲
            END
            ELSE IF (@TodayHigh < @PrevHigh AND 
                    @TodayLow < @PrevLow AND 
                    @TodayOpen < @PrevOpen AND 
                    @TodayClose < @PrevClose)
            BEGIN
                SET @up_down = -2  -- 完全下跌
            END
            -- 檢查一般上漲/下跌
            ELSE IF @TodayClose > @PrevClose
            BEGIN
                SET @up_down = 1  -- 上漲
            END
            ELSE IF @TodayClose < @PrevClose
            BEGIN
                SET @up_down = -1  -- 下跌
            END
            ELSE
            BEGIN
                SET @up_down = 0  -- 一樣
            END
        END
        
        -- 插入結果到返回表
        INSERT INTO @Result (StockCode, [date], [Open], [High], [Low], [Close], up_down)
        VALUES (@StockCode, @TodayDate, @TodayOpen, @TodayHigh, @TodayLow, @TodayClose, @up_down)

        FETCH NEXT FROM price_cursor INTO @TodayDate, @TodayOpen, @TodayClose, @TodayHigh, @TodayLow
    END

    CLOSE price_cursor
    DEALLOCATE price_cursor
    
    RETURN
END