USE [NCU_database]
GO
/****** Object:  UserDefinedFunction [dbo].[candlestick_up_down]    Script Date: 2025/4/5 下午 02:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  OR CREATE FUNCTION [dbo].[candlestick_up_down] 
(
    @StockCode varchar(20),
    @date date
)
RETURNS @Result TABLE 
(
    StockCode varchar(20),
    [date] date,
    up_down int
)
AS
BEGIN
    -- 宣告變數儲存當前和前一天的價格資訊
    DECLARE @TodayOpen decimal(18,4), @TodayClose decimal(18,4),
            @TodayHigh decimal(18,4), @TodayLow decimal(18,4)
    
    DECLARE @PrevOpen decimal(18,4), @PrevClose decimal(18,4),
            @PrevHigh decimal(18,4), @PrevLow decimal(18,4)
    
    -- 取得當天的價格資訊
    SELECT 
        @TodayOpen = [Open],
        @TodayClose = [Close],
        @TodayHigh = [High],
        @TodayLow = [Low]
    FROM StockTrading_TA
    WHERE StockCode = @StockCode 
    AND [date] = @date
    
    -- 取得前一天的價格資訊
    SELECT 
        @PrevOpen = [Open],
        @PrevClose = [Close],
        @PrevHigh = [High],
        @PrevLow = [Low]
    FROM StockTrading_TA
    WHERE StockCode = @StockCode 
    AND [date] = (
        SELECT MAX([date])
        FROM StockTrading_TA
        WHERE StockCode = @StockCode 
        AND [date] < @date
    )
    
    -- 判斷漲跌狀態
    DECLARE @up_down int
    
    -- 如果當天或前一天資料不存在，返回99
    IF @TodayClose IS NULL OR @PrevClose IS NULL
    BEGIN
        SET @up_down = 99
    END
    ELSE
    BEGIN
        -- 檢查跳空上漲/下跌
        IF (@TodayLow > @PrevHigh)
        BEGIN
            SET @up_down = 3  -- 跳空上漲
        END
        ELSE IF (@TodayHigh < @PrevLow)
        BEGIN
            SET @up_down = -3  -- 跳空下跌
        END
        -- 檢查完全上漲/下跌
        ELSE IF (@TodayHigh > @PrevHigh AND 
                @TodayLow > @PrevLow AND 
                @TodayOpen > @PrevOpen AND 
                @TodayClose > @PrevClose)
        BEGIN
            SET @up_down = 2  -- 完全上漲
        END
        ELSE IF (@TodayHigh < @PrevHigh AND 
                @TodayLow < @PrevLow AND 
                @TodayOpen < @PrevOpen AND 
                @TodayClose < @PrevClose)
        BEGIN
            SET @up_down = -2  -- 完全下跌
        END
        -- 檢查一般上漲/下跌
        ELSE IF @TodayClose > @PrevClose
        BEGIN
            SET @up_down = 1  -- 上漲
        END
        ELSE IF @TodayClose < @PrevClose
        BEGIN
            SET @up_down = -1  -- 下跌
        END
        ELSE
        BEGIN
            SET @up_down = 0  -- 一樣
        END
    END
    
    -- 插入結果到返回表
    INSERT INTO @Result (StockCode, [date], up_down)
    VALUES (@StockCode, @date, @up_down)
    
    RETURN
END