USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[FindKDCrossovers]    Script Date: 2025/4/5 下午 02:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[FindKDCrossovers]
    @StockCode SMALLINT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- 使用 CTE 計算前一天的 K 和 D 值，並判斷交叉
    WITH KD_Crossovers AS (
        SELECT 
            StockCode,
            Date,
            K_value,
            D_value,
            LAG(K_value) OVER (PARTITION BY StockCode ORDER BY Date) AS prev_K,
            LAG(D_value) OVER (PARTITION BY StockCode ORDER BY Date) AS prev_D
        FROM dbo.StockTrading_TA
        WHERE StockCode = @StockCode
          AND Date BETWEEN @StartDate AND @EndDate
          AND K_value IS NOT NULL
          AND D_value IS NOT NULL
    )
    SELECT 
        StockCode AS stock_code,
        Date AS date,
        CASE 
            WHEN K_value > D_value AND prev_K <= prev_D THEN N'黃金交叉'
            WHEN K_value < D_value AND prev_K >= prev_D THEN N'死亡交叉'
            ELSE NULL
        END AS result
    FROM KD_Crossovers
    WHERE (K_value > D_value AND prev_K <= prev_D)  -- 黃金交叉
       OR (K_value < D_value AND prev_K >= prev_D)  -- 死亡交叉
    ORDER BY Date;
END;