USE [NCU_database]
GO
/****** Object:  UserDefinedFunction [dbo].[FindRecentCandlePattern]    Script Date: 2025/4/5 下午 02:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER OR CREATE FUNCTION [dbo].[FindRecentCandlePattern] (@stock_code_input varchar(50))
RETURNS @Result TABLE (
    StockCode varchar(50),
    First_Day date,
    Second_Day date,
    Pattern varchar(100)
)
AS
BEGIN
    -- 定義一個臨時表來存儲中間結果
    DECLARE @TempResult TABLE (
        StockCode varchar(50),
        Date1 date,
        Date2 date,
        Pattern varchar(100)
    );

    -- 將基礎資料存入臨時表
    WITH trading_pairs AS (
        SELECT 
            t1.[Date] AS Date1,
            t2.[Date] AS Date2,
            t1.StockCode,
            t1.[Open] AS Open1,
            t1.[Close] AS Close1,
            t1.[High] AS High1,
            t1.[Low] AS Low1,
            t2.[Open] AS Open2,
            t2.[Close] AS Close2,
            t2.[High] AS High2,
            t2.[Low] AS Low2
        FROM StockTrading_TA t1
        JOIN StockTrading_TA t2
        ON t1.StockCode = t2.StockCode
        AND t1.Date = (
            SELECT MAX(t3.Date)
            FROM StockTrading_TA t3
            WHERE t3.Date < t2.Date
            AND t3.StockCode = t2.StockCode
        )
        WHERE t1.StockCode = @stock_code_input
        AND t2.Date <= GETDATE()
    )
    INSERT INTO @TempResult
    SELECT 
        StockCode,
        Date1,
        Date2,
        CASE 
            -- 遭遇線
            WHEN Close1 < Open1 AND Close2 > Open2 
                 AND Open2 < Low1 AND Close2 > (Open1 + Close1) / 2.0 
                 THEN 'Piercing Line (遭遇線)'
            -- 懷抱線
            WHEN ABS(Open1 - Close1) > ABS(Open2 - Close2)
                 AND Open2 > (CASE WHEN Open1 < Close1 THEN Open1 ELSE Close1 END) 
                 AND Close2 < (CASE WHEN Open1 > Close1 THEN Open1 ELSE Close1 END)
                 THEN 'Harami Pattern (懷抱線)'
            -- 插入線
            WHEN Close1 < Open1 AND Close2 > Open2 
                 AND Open2 < Low1 AND Close2 > Close1 
                 AND Close2 < (Open1 + Close1) / 2.0 
                 THEN 'Insertion Line (插入線)'
            -- 吞噬線（看漲或看跌）
            WHEN (Close1 < Open1 AND Close2 > Open2 
                  AND Open2 < Close1 AND Close2 > Open1)
                 OR
                 (Close1 > Open1 AND Close2 < Open2 
                  AND Open2 > Close1 AND Close2 < Open1)
                 THEN 'Engulfing Line (吞噬線)'
            ELSE 'No Pattern'
        END AS Pattern
    FROM trading_pairs
    WHERE 
        -- 篩選符合任一型態的條件
        (   -- 遭遇線
            (Close1 < Open1 AND Close2 > Open2 
             AND Open2 < Low1 AND Close2 > (Open1 + Close1) / 2.0)
            OR 
            -- 懷抱線
            (ABS(Open1 - Close1) > ABS(Open2 - Close2)
             AND Open2 > (CASE WHEN Open1 < Close1 THEN Open1 ELSE Close1 END) 
             AND Close2 < (CASE WHEN Open1 > Close1 THEN Open1 ELSE Close1 END))
            OR 
            -- 插入線
            (Close1 < Open1 AND Close2 > Open2 
             AND Open2 < Low1 AND Close2 > Close1 
             AND Close2 < (Open1 + Close1) / 2.0)
            OR 
            -- 吞噬線（看漲或看跌）
            ((Close1 < Open1 AND Close2 > Open2 
              AND Open2 < Close1 AND Close2 > Open1)
             OR 
             (Close1 > Open1 AND Close2 < Open2 
              AND Open2 > Close1 AND Close2 < Open1))
        );

    -- 從臨時表中選取 TOP 1 結果插入到 @Result
    INSERT INTO @Result
    SELECT TOP 1
        StockCode,
        Date1 AS First_Day,
        Date2 AS Second_Day,
        Pattern
    FROM @TempResult
    ORDER BY Date2 DESC;

    RETURN;
END;
