USE [NCU_database]
GO
/****** Object:  UserDefinedFunction [dbo].[find_date]    Script Date: 2025/4/5 下午 02:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE FUNCTION [dbo].[find_date]
(
    @start_date DATE,
    @num_days INT,
    @include_start BIT, -- 1 to include start date, 0 to exclude
    @direction VARCHAR(10) -- 'forward' or 'backward'
)
RETURNS @result TABLE 
(
    date DATE,
    day_of_stock INT
)
AS
BEGIN
    -- Declare variables
    DECLARE @current_date DATE = @start_date;
    DECLARE @count INT = 0;
    DECLARE @step INT = CASE WHEN @direction = 'backward' THEN -1 ELSE 1 END;
    DECLARE @max_rows INT = @num_days;

    -- If start date is not included, move to the next/previous date
    IF @include_start = 0
    BEGIN
        SET @current_date = DATEADD(DAY, @step, @current_date);
    END

    -- Loop through dates until we find the required number of trading days
    WHILE @count < @max_rows
    BEGIN
        -- Check if the current date exists in the table and is a trading day
        IF EXISTS (
            SELECT 1 
            FROM [NCU_database].[dbo].[Full_Calendar] -- Replace with your actual table name
            WHERE date = @current_date 
            AND day_of_stock IS NOT NULL 
            AND day_of_stock != -1
        )
        BEGIN
            -- Insert the trading day into the result table
            INSERT INTO @result (date, day_of_stock)
            SELECT date, day_of_stock
            FROM [NCU_database].[dbo].[Full_Calendar]
            WHERE date = @current_date;

            SET @count = @count + 1;
        END

        -- Move to the next/previous date
        SET @current_date = DATEADD(DAY, @step, @current_date);

        -- Optional: Add a safeguard to prevent infinite loops
        IF DATEDIFF(DAY, @start_date, @current_date) > 1000 OR DATEDIFF(DAY, @start_date, @current_date) < -1000
            BREAK;
    END

    RETURN;
END;
