USE [NCU_database]
GO
/****** Object:  UserDefinedFunction [dbo].[GetAverageClosePrice]    Script Date: 2025/4/5 下午 02:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE FUNCTION [dbo].[GetAverageClosePrice]
(
    @StockCode VARCHAR(10),  -- 股票代碼
    @StartDate DATE,         -- 開始日期
    @EndDate DATE            -- 結束日期
)
RETURNS DECIMAL(10, 2)       -- 回傳平均收盤價，保留 2 位小數
AS
BEGIN
    DECLARE @AveragePrice DECIMAL(10, 2);

    -- 計算平均收盤價
    SELECT @AveragePrice = AVG(ClosePrice)
    FROM [NCU_database].[dbo].[Top_10_of_Taiwan_50]
    WHERE StockCode = @StockCode
      AND TradeDate BETWEEN @StartDate AND @EndDate;

    -- 如果沒有資料，AVG 會返回 NULL，直接回傳
    RETURN @AveragePrice;
END;