USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[GetStockPricePattern]    Script Date: 2025/4/5 下午 02:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER OR CREATE PROCEDURE [dbo].[GetStockPricePattern]
    @StockCode VARCHAR(10),    -- 股票代碼
    @Days INT,                 -- 回溯交易日數
    @TargetDate DATE,          -- 目標日期
    @Type INT OUTPUT           -- 輸出型態（整數）
AS
BEGIN
    SET NOCOUNT ON;

    -- 宣告變數
    DECLARE @TargetHigh FLOAT;     -- 目標日期的高價
    DECLARE @TotalRows INT;        -- 總資料筆數
    DECLARE @Rank INT;             -- 目標高價的排名
    DECLARE @Percentile FLOAT;     -- 百分位

    -- 從 dbo.tradingVolume 表中獲取判斷標準
    DECLARE @veryHigh_def FLOAT;
    DECLARE @High_def FLOAT;
    DECLARE @low_def FLOAT;
    DECLARE @veryLow_def FLOAT;

    SELECT 
        @veryHigh_def = veryHigh_volume,
        @High_def = high_volume,
        @low_def = low_volume,
        @veryLow_def = veryLow_volume
    FROM [dbo].[tradingVolume]
    WHERE compare_with = @Days;

    -- 如果找不到對應的天數，則輸出 0（普通）並結束
    IF @veryHigh_def IS NULL
    BEGIN
        SET @Type = 0;
        RETURN;
    END

    -- 獲取目標日期的高價
    SELECT @TargetHigh = High
    FROM [dbo].[StockTrading_TA]
    WHERE StockCode = @StockCode
      AND [Date] = @TargetDate;

    -- 如果目標日期沒有資料，則輸出 0（普通）並結束
    IF @TargetHigh IS NULL
    BEGIN
        SET @Type = 0;
        RETURN;
    END

    -- 創建臨時表來存放指定期間的高價資料
    CREATE TABLE #TempHighs (
        High FLOAT,
        RowNum INT
    );

    -- 插入前 @Days 個交易日的高價資料，並排序賦予排名
    INSERT INTO #TempHighs (High, RowNum)
    SELECT High, ROW_NUMBER() OVER (ORDER BY High) AS RowNum
    FROM (
        SELECT TOP (@Days) High
        FROM [dbo].[StockTrading_TA]
        WHERE StockCode = @StockCode
          AND [Date] <= @TargetDate
        ORDER BY [Date] DESC
    ) AS SubQuery
    ORDER BY High;

    -- 獲取總資料筆數
    SET @TotalRows = @@ROWCOUNT;

    -- 如果指定期間沒有資料，則輸出 0（普通）並清理臨時表
    IF @TotalRows = 0
    BEGIN
        SET @Type = 0;
        DROP TABLE #TempHighs;
        RETURN;
    END

    -- 獲取目標高價的排名
    SELECT @Rank = RowNum
    FROM #TempHighs
    WHERE High = @TargetHigh;

    -- 如果有多筆相同的高價，則取最高排名
    IF @Rank IS NULL
    BEGIN
        SELECT @Rank = MAX(RowNum)
        FROM #TempHighs
        WHERE High = @TargetHigh;
    END

    -- 計算百分位
    SET @Percentile = (@Rank - 1.0) / @TotalRows * 100;

    -- 將條件轉換為百分比
    DECLARE @veryHighPercent FLOAT = @veryHigh_def * 100;  -- 例如 10%（前 10%）
    DECLARE @HighPercent FLOAT = @High_def * 100;          -- 例如 20%（前 20%）
    DECLARE @veryLowPercent FLOAT = @veryLow_def * 100;    -- 例如 10%（低於 10%）
    DECLARE @lowPercent FLOAT = @low_def * 100;            -- 例如 20%（低於 20%）

    -- 根據百分位判斷型態
    IF @Percentile <= @veryLowPercent
        SET @Type = -2;  -- 極小量（低於 veryLowPercent，例如低於 10%）
    ELSE IF @Percentile <= @lowPercent
        SET @Type = -1;  -- 小量（介於 veryLowPercent 和 lowPercent 之間，例如 10%-20%）
    ELSE IF @Percentile >= (100 - @veryHighPercent)
        SET @Type = 2;   -- 極大量（前 veryHighPercent，例如前 10%）
    ELSE IF @Percentile >= (100 - @HighPercent)
        SET @Type = 1;   -- 大量（介於 veryHighPercent 和 HighPercent 之間，例如 10%-20%）
    ELSE
        SET @Type = 0;   -- 普通（中間部分）

    -- 清理臨時表
    DROP TABLE #TempHighs;
END;
