USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[GetStockTransactions]    Script Date: 2025/4/5 下午 02:12:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[GetStockTransactions]
	@StockCode VARCHAR(10),  
    @StartDate DATE,         
    @EndDate DATE
AS
BEGIN
	SET NOCOUNT ON;

	IF @StockCode IS NULL OR @StockCode = ''
	BEGIN
        RAISERROR ('Stock code can not be empty!!!', 16, 1);
        RETURN;
    END

    IF @StartDate IS NULL OR @EndDate IS NULL
    BEGIN
        RAISERROR ('Date range can not be empty!!!', 16, 1);
        RETURN;
    END

	IF @StartDate > @EndDate
    BEGIN
        RAISERROR ('Start Date must before End Date', 16, 1);
        RETURN;
    END

	SELECT 
        TradeDate,
        StockCode,
        MarketType,
        Volume,
        Turnover,
        OpenPrice,
        HighPrice,
        LowPrice,
        ClosePrice,
        PriceChange,
        TradeCount
    FROM 
        [NCU_database].[dbo].[Top_10_of_Taiwan_50]  
		WHERE 
        StockCode = @StockCode
        AND TradeDate BETWEEN @StartDate AND @EndDate
    ORDER BY 
        TradeDate ASC;
END;