USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[MA_Analysis]    Script Date: 2025/4/5 下午 02:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[MA_Analysis]
	@MA_First varchar(5),
	@MA_Second varchar(5),
	@Company varchar(10),
	@Result char(50) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    -- 創建臨時表
    CREATE TABLE #stock_data (
        date date,
        c real,
        MA_First_Value real,
        MA_Second_Value real
    );

    -- 插入資料到臨時表
    INSERT INTO #stock_data(date, c, MA_First_Value, MA_Second_Value)
    SELECT [Date], [Close],
        CASE
            WHEN @MA_First = 'MA5' THEN MA5
            WHEN @MA_First = 'MA10' THEN MA10
            WHEN @MA_First = 'MA20' THEN MA20
            WHEN @MA_First = 'MA60' THEN MA60
            WHEN @MA_First = 'MA120' THEN MA120
            WHEN @MA_First = 'MA240' THEN MA240
            ELSE NULL END as MA_First_Value,
        CASE
            WHEN @MA_Second = 'MA5' THEN MA5
            WHEN @MA_Second = 'MA10' THEN MA10
            WHEN @MA_Second = 'MA20' THEN MA20
            WHEN @MA_Second = 'MA60' THEN MA60
            WHEN @MA_Second = 'MA120' THEN MA120
            WHEN @MA_Second = 'MA240' THEN MA240
            ELSE NULL END as MA_Second_Value
    FROM StockTrading_TA
    WHERE StockCode = @Company
    ORDER BY date DESC;

    -- 聲明變數
    DECLARE @date date;
    DECLARE @MA_First_Value real;
    DECLARE @MA_Second_Value real;
    DECLARE @CurrentTrend varchar(10);
    DECLARE @DayCount int = 0;

    -- 聲明游標
    DECLARE Cur CURSOR LOCAL FOR
        SELECT date, MA_First_Value, MA_Second_Value
        FROM #stock_data
        ORDER BY date DESC;
    OPEN Cur;

    -- 提取第一行
    FETCH NEXT FROM Cur INTO @date, @MA_First_Value, @MA_Second_Value;

    -- 遍歷游標，分析趨勢
    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @MA_First_Value > @MA_Second_Value AND (@CurrentTrend IS NULL OR @CurrentTrend <> 'Above')
        BEGIN
            IF @CurrentTrend IS NULL
            BEGIN
                SET @CurrentTrend = 'Above';
                SET @DayCount = 0;
            END
            ELSE IF @CurrentTrend <> 'Above'
            BEGIN
                BREAK;
            END
        END
        ELSE IF @MA_First_Value < @MA_Second_Value AND (@CurrentTrend IS NULL OR @CurrentTrend <> 'Under')
        BEGIN
            IF @CurrentTrend IS NULL
            BEGIN
                SET @CurrentTrend = 'Under';
                SET @DayCount = 0;
            END
            ELSE IF @CurrentTrend <> 'Under'
            BEGIN
                BREAK;
            END
        END

        SET @DayCount = @DayCount + 1;
        FETCH NEXT FROM Cur INTO @date, @MA_First_Value, @MA_Second_Value;
    END;

    -- 關閉並釋放游標
    CLOSE Cur;
    DEALLOCATE Cur;

    -- 設置輸出結果
    IF @CurrentTrend IS NOT NULL
    BEGIN
        SET @Result = @MA_First + ' ' + @CurrentTrend + ' ' + @MA_Second + ' ' + CAST(@DayCount AS varchar) + ' Days';
    END;

	DROP TABLE #stock_data

END;