ALTER OR CREATE PROCEDURE [dbo].[sp_CalculateTrend_Granville]
    @StockCode VARCHAR(10),
    @MAType VARCHAR(10), -- 均線類型，例如 'MA20'
    @LookBackRows INT,   -- 往前看的資料筆數（交易日數）
    @DecisionRows INT    -- 決定趨勢的筆數門檻
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @UpRows INT;
    DECLARE @DownRows INT;
    DECLARE @Trend VARCHAR(50);
    DECLARE @CurrentDate DATE;
    DECLARE @TotalRows INT;

    -- 計算總資料筆數
    SELECT @TotalRows = COUNT(*)
    FROM dbo.StockTrading_TA
    WHERE StockCode = @StockCode;

    -- 游標遍歷每一筆資料
    DECLARE date_cursor CURSOR FOR
    SELECT Date
    FROM dbo.StockTrading_TA
    WHERE StockCode = @StockCode
    ORDER BY Date;

    OPEN date_cursor;
    FETCH NEXT FROM date_cursor INTO @CurrentDate;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- 重置計數
        SET @UpRows = 0;
        SET @DownRows = 0;

        -- 動態生成 SQL，計算往前 @LookBackRows 筆資料的均線趨勢
        SET @SQL = N'
        WITH RankedData AS (
            SELECT 
                Date,
                ' + @MAType + ' AS CurrentMA,
                LAG(' + @MAType + ') OVER (ORDER BY Date) AS PreviousMA,
                ROW_NUMBER() OVER (ORDER BY Date DESC) AS RowNum
            FROM dbo.StockTrading_TA
            WHERE StockCode = @StockCode
                AND Date <= @CurrentDate
        )
        SELECT 
            @UpRows = SUM(CASE WHEN CurrentMA > PreviousMA THEN 1 ELSE 0 END),
            @DownRows = SUM(CASE WHEN CurrentMA < PreviousMA THEN 1 ELSE 0 END)
        FROM RankedData
        WHERE RowNum <= @LookBackRows
            AND CurrentMA IS NOT NULL 
            AND PreviousMA IS NOT NULL;';

        -- 執行動態 SQL 並計算上漲與下跌筆數
        EXEC sp_executesql @SQL, 
            N'@StockCode VARCHAR(10), @CurrentDate DATE, @LookBackRows INT, @UpRows INT OUTPUT, @DownRows INT OUTPUT',
            @StockCode, @CurrentDate, @LookBackRows, @UpRows OUTPUT, @DownRows OUTPUT;

        -- 檢查是否有足夠的資料筆數進行比較
        DECLARE @AvailableRows INT;
        SET @SQL = N'
        SELECT @AvailableRows = COUNT(*)
        FROM dbo.StockTrading_TA
        WHERE StockCode = @StockCode
            AND Date <= @CurrentDate;';

        EXEC sp_executesql @SQL, 
            N'@StockCode VARCHAR(10), @CurrentDate DATE, @AvailableRows INT OUTPUT',
            @StockCode, @CurrentDate, @AvailableRows OUTPUT;

        -- 如果資料筆數不足 @LookBackRows，或者沒有可比較的資料，設為「橫盤整理」
        IF (@AvailableRows < @LookBackRows) OR (@UpRows IS NULL AND @DownRows IS NULL)
        BEGIN
            SET @Trend = '橫盤整理';
        END
        ELSE
        BEGIN
            -- 根據條件判斷趨勢
            IF @UpRows >= @DecisionRows
                SET @Trend = '上漲趨勢';
            ELSE IF @DownRows >= @DecisionRows
                SET @Trend = '下跌趨勢';
            ELSE
                SET @Trend = '橫盤整理';
        END;

        -- 更新 Trend 欄位
        UPDATE dbo.StockTrading_TA
        SET Trend = @Trend
        WHERE StockCode = @StockCode AND Date = @CurrentDate;

        FETCH NEXT FROM date_cursor INTO @CurrentDate;
    END;

    CLOSE date_cursor;
    DEALLOCATE date_cursor;

    -- 返回最新日期的趨勢結果
    SELECT TOP (@LookBackRows) * 
    FROM dbo.StockTrading_TA
    WHERE StockCode = @StockCode
    ORDER BY [Date] DESC;
END;
