USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[sp_find_date]    Script Date: 2025/4/5 下午 02:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[sp_find_date]
(
    @start_date DATE,
    @num_days INT,
    @include_start BIT, -- 1 to include start date, 0 to exclude
    @direction VARCHAR(10) -- 'forward' or 'backward'
)
AS
BEGIN
    -- 建立臨時表來儲存結果
    CREATE TABLE #result 
    (
        date DATE,
        day_of_stock INT
    );

    -- 宣告變數
    DECLARE @current_date DATE = @start_date;
    DECLARE @count INT = 0;
    DECLARE @step INT = CASE WHEN @direction = 'backward' THEN -1 ELSE 1 END;
    DECLARE @max_rows INT = @num_days;
    DECLARE @sql NVARCHAR(MAX);
    DECLARE @params NVARCHAR(100);
    DECLARE @exists INT; -- 用來儲存 sp_executesql 的檢查結果

    -- 如果不包含開始日期，則移動到下一個/上一個日期
    IF @include_start = 0
    BEGIN
        SET @current_date = DATEADD(DAY, @step, @current_date);
    END

    -- 迴圈處理，直到找到指定數量的交易日
    WHILE @count < @max_rows
    BEGIN
        -- 動態 SQL：檢查當前日期是否存在於 Full_Calendar 表中且是交易日
        SET @sql = N'
            SELECT @exists = CASE 
                WHEN EXISTS (
                    SELECT 1 
                    FROM [NCU_database].[dbo].[Full_Calendar]
                    WHERE date = @current_date 
                    AND day_of_stock IS NOT NULL 
                    AND day_of_stock != -1
                ) THEN 1 
                ELSE 0 
            END';
        
        SET @params = N'@current_date DATE, @exists INT OUTPUT';

        -- 使用 sp_executesql 執行檢查，並將結果存到 @exists
        EXEC sp_executesql @sql, @params, @current_date = @current_date, @exists = @exists OUTPUT;

        -- 根據 @exists 的值決定是否插入結果
        IF @exists = 1
        BEGIN
            -- 動態 SQL：將符合條件的日期插入到結果表中
            SET @sql = N'
                INSERT INTO #result (date, day_of_stock)
                SELECT date, day_of_stock
                FROM [NCU_database].[dbo].[Full_Calendar]
                WHERE date = @current_date';
            
            SET @params = N'@current_date DATE';

            -- 執行插入操作
            EXEC sp_executesql @sql, @params, @current_date = @current_date;

            SET @count = @count + 1;
        END

        -- 移動到下一個/上一個日期
        SET @current_date = DATEADD(DAY, @step, @current_date);

        -- 安全機制：防止無限迴圈
        IF DATEDIFF(DAY, @start_date, @current_date) > 1000 OR DATEDIFF(DAY, @start_date, @current_date) < -1000
            BREAK;
    END

    -- 返回結果
    SELECT * FROM #result;

    -- 清理臨時表
    DROP TABLE #result;
END;
