USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[sp_StockMACrossover]    Script Date: 2025/4/5 下午 02:26:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER OR CREATE PROCEDURE [dbo].[sp_StockMACrossover]
    @MA1_input INT,          -- MA_1 的天數 (例如 5 表示 MA5)
    @MA2_input INT,          -- MA_2 的天數 (例如 20 表示 MA20)
    @duration_input INT,     -- 最近 X 天
    @date_input DATE,        -- 基準日期
    @trend_input INT         -- 趨勢方向 (1: 上穿, -1: 下穿)
AS
BEGIN
    -- 宣告變數
    DECLARE @id INT = 0;
    DECLARE @stock_code SMALLINT;
    DECLARE @sqlText NVARCHAR(1000) = '';
    DECLARE @ParmDefinition NVARCHAR(500) = '';
    DECLARE @direction NVARCHAR(50) = 'backward';
    DECLARE @i INT = 0;
    DECLARE @MA1_value REAL = 0.0;
    DECLARE @MA2_value REAL = 0.0;
    DECLARE @MA1_prevvalue REAL = NULL;
    DECLARE @MA2_prevvalue REAL = NULL;

    -- 建立臨時表 #stock_temp
    IF OBJECT_ID('tempdb..#stock_temp') IS NOT NULL
        DROP TABLE #stock_temp;

    CREATE TABLE #stock_temp (
        id INT IDENTITY(1,1),
        date DATE NOT NULL,
        stock_code SMALLINT NOT NULL,
        MA_1 REAL NOT NULL,
        MA_2 REAL NOT NULL
    );

    -- 建立表 #stock 用於儲存符合條件的股票
    IF OBJECT_ID('tempdb..#stock') IS NOT NULL
        DROP TABLE #stock;

    CREATE TABLE #stock (
        stock_code SMALLINT
    );

    -- 使用游標篩選不同的股票代碼
    DECLARE Cur CURSOR LOCAL FOR
        SELECT DISTINCT StockCode FROM [dbo].[StockTrading_TA];

    OPEN Cur;
    FETCH NEXT FROM Cur INTO @stock_code;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- 清空臨時表
        TRUNCATE TABLE #stock_temp;

        -- 設定動態 SQL 查詢 MA 值
        SET @sqlText = N'
            SELECT Date, StockCode, ISNULL(MA' + CAST(@MA1_input AS NVARCHAR(10)) + ', 0), ISNULL(MA' + CAST(@MA2_input AS NVARCHAR(10)) + ', 0)
            FROM [dbo].[StockTrading_TA]
            WHERE Date IN (SELECT date FROM find_date(@date_input, @duration_input, 1, @direction))
            AND StockCode = @stock_code
            ORDER BY Date DESC';

        -- 插入資料到臨時表
        INSERT INTO #stock_temp (date, stock_code, MA_1, MA_2)
        EXEC sp_executesql @sqlText, N'@date_input DATE, @duration_input INT, @stock_code SMALLINT, @direction NVARCHAR(50)',
                            @date_input, @duration_input, @stock_code, @direction;

        -- 檢查臨時表是否有資料
        WHILE EXISTS (SELECT * FROM #stock_temp)
        BEGIN
            -- 提取當前資料
            SELECT TOP(1) 
                @i = id, 
                @stock_code = stock_code, 
                @MA1_value = MA_1, 
                @MA2_value = MA_2
            FROM #stock_temp;

            -- 提取前一天的資料進行比較，只有在 prevvalue 不為 NULL 時才比較
            IF (@MA1_prevvalue IS NOT NULL AND @MA2_prevvalue IS NOT NULL)
            BEGIN
                IF (@trend_input = 1 AND @MA1_prevvalue < @MA2_prevvalue AND @MA1_value > @MA2_value) OR
                   (@trend_input = -1 AND @MA1_prevvalue > @MA2_prevvalue AND @MA1_value < @MA2_value)
                BEGIN
                    -- 符合條件，插入到 #stock
                    INSERT INTO #stock (stock_code)
                    VALUES (@stock_code);
                    PRINT CAST(@stock_code AS NVARCHAR(10));
                    BREAK;
                END;
            END;

            -- 更新 prevvalue 並刪除已處理的資料
            SET @MA1_prevvalue = @MA1_value;
            SET @MA2_prevvalue = @MA2_value;

            DELETE FROM #stock_temp WHERE id = @i;
        END;

        FETCH NEXT FROM Cur INTO @stock_code;
    END;

    -- 關閉並釋放游標
    CLOSE Cur;
    DEALLOCATE Cur;

    -- 回傳結果
    SELECT * FROM #stock;

    -- 清理臨時表
    DROP TABLE #stock_temp;
    DROP TABLE #stock;
END;
