USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[sp_StockMAPercentageFilter]    Script Date: 2025/4/5 下午 02:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER OR CREATE PROCEDURE [dbo].[sp_StockMAPercentageFilter]
    @MA1_input INT,          -- MA_1 的天數 (例如 5 表示 MA5)
    @MA2_input INT,          -- MA_2 的天數 (例如 20 表示 MA20)
    @duration_input INT,     -- 最近 X 天
    @date_input DATE,        -- 基準日期
    @trend_input INT,        -- 方向 (1: 高於, -1: 低於)
    @percentage_input FLOAT  -- Y% (例如 5 表示 5%)
AS
BEGIN
    -- 錯誤處理：啟用 TRY-CATCH
    BEGIN TRY
        -- 參數驗證
        -- 檢查 MA1_input 和 MA2_input 是否對應有效的 MA 欄位
        IF NOT EXISTS (
            SELECT 1
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE TABLE_NAME = 'StockTrading_TA'
            AND COLUMN_NAME IN ('MA' + CAST(@MA1_input AS NVARCHAR(10)), 'MA' + CAST(@MA2_input AS NVARCHAR(10)))
        )
        BEGIN
            RAISERROR ('Invalid MA input. MA%d or MA%d does not exist in StockTrading_TA.', 16, 1, @MA1_input, @MA2_input);
            RETURN;
        END;

        -- 檢查 duration_input 是否為正數
        IF @duration_input <= 0
        BEGIN
            RAISERROR ('Duration input must be a positive integer.', 16, 1);
            RETURN;
        END;

        -- 檢查 percentage_input 是否為非負數
        IF @percentage_input < 0
        BEGIN
            RAISERROR ('Percentage input must be non-negative.', 16, 1);
            RETURN;
        END;

        -- 檢查 trend_input 是否為 1 或 -1
        IF @trend_input NOT IN (1, -1)
        BEGIN
            RAISERROR ('Trend input must be 1 (higher) or -1 (lower).', 16, 1);
            RETURN;
        END;

        -- 宣告變數
        DECLARE @sqlText NVARCHAR(2000) = '';
        DECLARE @direction NVARCHAR(50) = 'backward';

        -- 建立表 #stock 用於儲存符合條件的股票及其最大百分比差距
        IF OBJECT_ID('tempdb..#stock') IS NOT NULL
            DROP TABLE #stock;

        CREATE TABLE #stock (
            stock_code SMALLINT,
            max_percentage_diff FLOAT
        );

        -- 設定動態 SQL 查詢 MA 值並計算百分比差距
        SET @sqlText = N'
            WITH StockMA AS (
                SELECT 
                    StockCode,
                    Date,
                    MA' + CAST(@MA1_input AS NVARCHAR(10)) + ' AS MA_1,
                    MA' + CAST(@MA2_input AS NVARCHAR(10)) + ' AS MA_2
                FROM [dbo].[StockTrading_TA]
                WHERE Date IN (SELECT date FROM find_date(@date_input, @duration_input, 1, @direction))
            ),
            FilteredStocks AS (
                SELECT 
                    StockCode,
                    MA_1,
                    MA_2,
                    ABS((MA_1 - MA_2) / MA_2 * 100) AS percentage_diff
                FROM StockMA
                WHERE MA_1 IS NOT NULL AND MA_2 IS NOT NULL
                AND (
                    (@trend_input = 1 AND MA_1 > MA_2 * (1 + @percentage_input / 100))
                    OR
                    (@trend_input = -1 AND MA_1 < MA_2 * (1 - @percentage_input / 100))
                )
            ),
            MaxDiff AS (
                SELECT 
                    StockCode,
                    MAX(percentage_diff) AS max_percentage_diff
                FROM FilteredStocks
                GROUP BY StockCode
            )
            INSERT INTO #stock (stock_code, max_percentage_diff)
            SELECT 
                StockCode,
                ROUND(max_percentage_diff, 6)
            FROM MaxDiff;';

        -- 執行動態 SQL
        EXEC sp_executesql @sqlText, N'@date_input DATE, @duration_input INT, @percentage_input FLOAT, @trend_input INT, @direction NVARCHAR(50)',
                            @date_input, @duration_input, @percentage_input, @trend_input, @direction;

        -- 回傳結果
        SELECT 
            stock_code AS StockCode,
            max_percentage_diff AS max_percentage_diff
        FROM #stock
        ORDER BY stock_code;

    END TRY
    BEGIN CATCH
        -- 錯誤處理：拋出錯誤訊息
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

        -- 清理臨時表（如果存在）
        IF OBJECT_ID('tempdb..#stock') IS NOT NULL
            DROP TABLE #stock;

        RETURN;
    END CATCH;

    -- 清理臨時表
    IF OBJECT_ID('tempdb..#stock') IS NOT NULL
        DROP TABLE #stock;
END;