USE [NCU_database]
GO
/****** Object:  StoredProcedure [dbo].[Trend_Analysis]    Script Date: 2025/4/5 下午 02:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER OR CREATE PROCEDURE [dbo].[Trend_Analysis] 
	@Company varchar(10),
	@Day int output,
	@Result varchar(20) output
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @c real
	DECLARE @MA5 real
	DECLARE @MA10 real 
	DECLARE @MA20 real
	DECLARE @Trend int
	DECLARE @DailyTrend int

DECLARE cur CURSOR LOCAL STATIC FOR
	SELECT [Close], MA5, MA10, MA20
	FROM [NCU_database].[dbo].[StockTrading_TA]
	WHERE StockCode = @Company
	AND MA5 IS NOT NULL
	AND MA10 IS NOT NULL
	AND MA20 IS NOT NULL
	ORDER BY [Date] DESC

OPEN cur
FETCH NEXT FROM cur INTO @c, @MA5, @MA10, @MA20

SET @Day = 0

WHILE @@FETCH_STATUS=0
BEGIN
	IF (@c > @MA5 AND @MA5 > @MA10 AND @MA10 > @MA20)
		SET @DailyTrend = 1
	ELSE IF (@c < @MA5 AND @MA5 < @MA10 AND @MA10 < @MA20)
		SET @DailyTrend = -1
	ELSE 
		SET @DailyTrend = 0

	if(@Day = 0)
		SET @Trend = @DailyTrend
	ELSE IF (@DailyTrend != @Trend)
		BREAk

	SET @Day = @Day + 1
	FETCH NEXT FROM cur INTO @C, @MA5, @MA10, @MA20
END

SET @Result = CASE @Trend
	WHEN 1 THEN 'UP Trend'
	WHEN -1 THEN 'DOWN Trend'
	ELSE 'Consolidate'
END

CLOSE cur
DEALLOCATE cur


END
